EXPERIMENT 4: SETS
PALLAWI KUMARI 25070123083

In [1]:
# creation of set
thisset = {"apple","banana","cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [2]:
#duplicates not allowed
thisset = {"apple","banana","cherry","apple"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [3]:
# the values True and 1 are considered same value in sets and set does not allow duplicates
thisset = {"apple","banana","cherry",True,1,2}
print(thisset)

{True, 2, 'banana', 'apple', 'cherry'}

In [4]:
# to check membership
thisset = {"apple","banana","cherry"}
print("banana" in thisset)
print("grapes" in thisset)

True
False

In [5]:
# once set is created, you cannot replace its items,
# but you can add new items.
thisset = {"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

In [6]:
# remove item
thisset = {"apple","banana","cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [7]:
# set operations
A = {1,2,3,4}
B = {3,4,5,6}
print("Union: ",A | B)
print("Intersection: ",A & B)
print("Difference1: ",A - B)
print("Difference2: ",B - A)
print("Symmetric Difference: ",A ^ B)

Union:  {1, 2, 3, 4, 5, 6}
Intersection:  {3, 4}
Difference1:  {1, 2}
Difference2:  {5, 6}
Symmetric Difference:  {1, 2, 5, 6}

In [8]:
#frozenset
x = frozenset({"apple","banana","cherry"})
print(x)
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [10]:
'''Problem statement 1: Unique Event Participants
A college event has a list of students who registered multiple times by mistake.
Write a program using set to store participants Names and display only Unique
participants.'''
participants = ["a","b","c","d","b","c"]
unique_participants = set(participants)
print(unique_participants)

{'a', 'b', 'c', 'd'}

In [11]:
'''Problem statement 2: Three students chose elective subjects.
Find the common subjects chosen by all students using set operation.
Concept used: Set intersection (&)'''
set1 = {"phy","math","chem","history"}
set2 = {"history","math","chem","english"}
set3 = {"phy","math","chem","english"}
print("common subjects: ",set1 & set2 & set3)

common subjects:  {'math', 'chem'}

In [12]:
'''Problem statement 3: One set contains students in cricket club another in football club.
Find students who are:
1)in both clubs
2)in only one club
Concept used: Intersection, Symmetric Difference'''
cricket_club = {"a","b","c","d","e"}
football_club = {"b","d","e","f","g"}
print("in both the clubs: ",cricket_club & football_club)
print("in only one club: ",cricket_club ^ football_club)

in both the clubs:  {'d', 'b', 'e'}
in only one club:  {'a', 'g', 'f', 'c'}

In [13]:
students = {"a","b","c","d","e"}
present = {"a","c","e"}
print("absent students: ",students - present)

absent students:  {'d', 'b'}

In [14]:
'''Problem statement 5: remove invalid entries,a set contains valid codes, remove discontinued course code from set concept: remove() / discard()'''
courses = {"ETC101","ETC102","ETC103"}
courses.discard("ETC102")
print("Updated Courses: ", courses)

Updated Courses:  {'ETC101', 'ETC103'}